<style>
h2 {
 color: #330F0A;
 }

 body {
 background-color:#c9dced;
 margin: 0 auto;
 text-align: center;
 font-size: 30px;
 }

 pre {
     font-size: 20px;
     background: center #a1c9ec;
     display: inline-block;
     border: solid;
 }
</style>